
.defaultText {
  font-size: 32;
  font-family: x-font;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

#myLabel {
  x: 50%;
  y: 35%;
  fill: green;
}